/* =====================================================================
   Variables
   ===================================================================== */

:root {
    --red: #d30505;
    --green: #017701;
    --brand: #b30000;
}


/* =====================================================================
   Body
   ===================================================================== */

body {
    background-color: #e5e5e5;
    text-align: center;
    font-family: -apple-system, 'Segoe UI', sans-serif;
    -webkit-tap-highlight-color: transparent;
}



/* =====================================================================
   Game
   ===================================================================== */

#game {
    max-width: 980px;
    margin: 0 auto;
}



/* =====================================================================
   Game of Flags
   ===================================================================== */

.game-of-flags {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-variant: small-caps;
    color: var(--brand);
    margin: 1.5em auto .8em;
    font-size: 3em;
    line-height: 1;
}

.game-of-flags span {
    font-size: .6em;
    position: relative;
    vertical-align: middle;
}



/* =====================================================================
   Label
   ===================================================================== */

label {
    display: inline-block;
    margin: 0;
    padding: .5em;
    cursor: pointer;
}



/* =====================================================================
   Checkbox
   ===================================================================== */

label [type=checkbox] {
    transform: scale(1.5);
}



/* =====================================================================
   Score
   ===================================================================== */

.score {
    font-weight: bold;
    font-size: 1.5em;
    padding: .3em 1em;
    background-color: #fff;
    border: 2px solid #999;
    border-radius: 8px;
    margin: 32px 0 16px;
    font-family: monospace;
    display: inline-block;
}



/* =====================================================================
   Game Progress
   ===================================================================== */

.game-progress {
    margin-bottom: 32px;
}



/* =====================================================================
   Answers
   ===================================================================== */

.answers {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin: 32px auto;
}

.is-mobile .answers {
    margin: 32px auto 24px;
}

.answers span {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #999;
}

.answers span.correct {
    background-color: var(--green);
    border-color: var(--green);
}

.answers span.wrong {
    background-color: var(--red);
    border-color: var(--red);
}



/* =====================================================================
   Guess Country
   ===================================================================== */

.guess-country {
    margin: 32px auto;
    font-size: 42px;
    line-height: 1.1;
}

.is-mobile .guess-country {
    font-size: 28px;
    margin: 16px auto 24px auto;
}



/* =====================================================================
   Guess Flag
   ===================================================================== */

.guess-flag {
    height: 200px;
    display: block;
    margin: 32px auto;
}

.is-mobile .guess-flag {
    height: 148px;
}



/* =====================================================================
   Select Flag
   ===================================================================== */

.select-flag {
    cursor: pointer;
    height: 80px;
    margin: 1em;
}

.is-mobile .select-flag {
    height: 52px;
    margin: .4em;
}

.select-flag:hover {
    box-shadow: 2px 4px 24px rgba(0, 0, 0, .3);
}

.select-flag.CORRECT {
    box-shadow: 0 0 .8em .6em var(--green);
}

.is-mobile .select-flag.CORRECT {
    box-shadow: 0 0 .6em .4em var(--green);
}

.select-flag.WRONG {
    box-shadow: 0 0 .8em .6em var(--red);
}

.is-mobile .select-flag.WRONG {
    box-shadow: 0 0 .6em .4em var(--red);
}



/* =====================================================================
   Select Country
   ===================================================================== */

.select-country {
    font-size: 1.1em;
    cursor: pointer;
    display: inline-block;
    margin: .3em;
    font-weight: 600;
    border: 1px solid #777;
    border-radius: 32px;
    padding: .3em 1em;
    background-color: #fff;
}

.select-country:hover {
    background-color: #eee;
}

.select-country.CORRECT {
    background-color: var(--green);
    color: #fff;
}

.select-country.WRONG {
    background-color: var(--red);
    color: #fff;
}



/* =====================================================================
   hr
   ===================================================================== */

hr {
    margin: 0;
    border: 0;
    height: 1px;
    background-color: #999;
}



/* =====================================================================
   Results Table
   ===================================================================== */

.results-table {
    margin: 0 auto;
}

.results-table th {
    text-align: right;
}

.results-table td {
    text-align: left;
    padding-left: 1em;
}



/* =====================================================================
   button
   ===================================================================== */

.button {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--brand);
    color: #fff;
    padding: 12px 24px;
    font: inherit;
    line-height: 1;
    border: 0;
    margin: 0;
    border-radius: 8px;
    font-weight: 600;
    transition: all .2s;
}

.button.DISABLED {
    background-color: #ccc;
    color: #777;
    cursor: default;
}